html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
}

h4 {
  font-weight: 700;
}

.navbar-btn a {
  text-decoration: none;
  color: #FFF;
}

.panel-heading--bold {
  font-weight: 700;
}

.vertical-centered  p {
  margin: 5px 0;
}

.btn-centered {
  height: 60px;
}

.btn-centered a {
  margin: 10px 5px;
}

.blank-space {
  content: "";
  opacity: 0;
  height: 79px;
}

footer {
  background-color: #EEE;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 5px;
}

footer * {
  margin: 0;
  padding: 8px 0;
  font-size: 1rem;
}